body{
    margin: 0;
    text-align: center;
    background-color: #E3FDFD;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    font-size: 50px;
    margin-top: 100px;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    line-height: 2px;
}
h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding-left: 10px;
}
a:hover{
    font-weight: bold;
}
.top-con{
    background-color: #CBF1F5;
    position: relative;
    padding-top: 150px;

}
.middle-container{
    margin: 100px 0;
}
.bottom-con{
    background-color: #71C9CE;
    width: 200px;
    height: 200px;
}
.top-cloud{
    position: absolute;
    right: 150px;
    top: 50px;
}
.intro{
    width: 50%;
    margin: auto;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.profile-photo{
    border-radius: 50%;
    width: 25%;
}
.float-left{
    border-radius: 50%;
    width: 25%;
    float: left;
    padding-right: 30px;
    
}
.float-right{
    border-radius: 50%;
    width: 25%;
    float: right;
    padding-left: 30px;
    
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-top-width: 8px;
    border-color: #EAF6F6;
    width: 10%;
    
}

.btn {
    background: #04cad1;
    background-image: -webkit-linear-gradient(top, #04cad1, #004573);
    background-image: -moz-linear-gradient(top, #04cad1, #004573);
    background-image: -ms-linear-gradient(top, #04cad1, #004573);
    background-image: -o-linear-gradient(top, #04cad1, #004573);
    background-image: linear-gradient(to bottom, #04cad1, #004573);
    -webkit-border-radius: 31;
    -moz-border-radius: 31;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 22px;
    padding: 11px 22px 12px 19px;
    text-decoration: none;
    margin-bottom: 25px;
  }
  
  .btn:hover {
    background: #73f5f5;
    background-image: -webkit-linear-gradient(top, #73f5f5, #1ea2fa);
    background-image: -moz-linear-gradient(top, #73f5f5, #1ea2fa);
    background-image: -ms-linear-gradient(top, #73f5f5, #1ea2fa);
    background-image: -o-linear-gradient(top, #73f5f5, #1ea2fa);
    background-image: linear-gradient(to bottom, #73f5f5, #1ea2fa);
    text-decoration: none;
  }
.bottom-container{
    margin-top:30px;
    background-color: #71C9CE;
    padding: 50px 0 20px 0;
    margin-bottom: 0px;
    display: block;
}
.interest{
    margin: 40px auto 50px auto;
    width: 30%;
}
.copy-right{
    color: #E3FDFD;
    font-size: 12px;
}
